#python-hidden {
  display: none;
}
#csharp-hidden {
  display: none;
}
#javascript-hidden {
  display: none;
}
.jumbotron {
  text-align: center;
}
#programming-language-suggester h2 {
  display: none;
}
.error {
  color: red;
}
